//$color-funcname-funcname_colorname_colorname

$color-n_white: #fff;

$color-font_brack: #434a54;
$color-font_l_gray: #999;
$color-font-large_black: #333;

$color-border_gray: #eee;

$color-bg_blue: #38aef0;
$color-bg_yellow: #f7ff00;
$color-bg_gray: #ddd;
$color-bg_l_gray: #fafafa;
$color-bg_cobalt: #253141;
$color-bg_l_cobalt: #2f3e51;
