-# メイン領域の、チャットメッセージを表示するテンプレート。
%li.chat__main__contents__chat-ul__chat-li
  %span.chat__main__contents__chat-ul__chat-li--userinfo--username
    = message.user.nickname
  %span.chat__main__contents__chat-ul__chat-li--userinfo--datetime
    = message.created_at_Prepared
  %p.chat__main__contents__chat-ul__chat-li--userinfo--message
    = message.text
    %p
    = messagehelper_image_mount(message.image_url)
