-# メイン領域の、チャットメッセージを表示するテンプレート。
%li.chat__main__contents__chat-ul__chat-li
  %span.chat__main__contents__chat-ul__chat-li--userinfo--username
    = message.user.nickname
  %span.chat__main__contents__chat-ul__chat-li--userinfo--datetime
    = l message.created_at, format: :default #I18n.localize。日付データを日本国書式に整形する。
  %p.chat__main__contents__chat-ul__chat-li--userinfo--message
    = message.text
