%div.chat

  %div.chat__side-bar
    = render partial: "shered/side_main"

  %div.chat__main

    %div.chat__main__info

    %div.chat__main__contents
      %p グループを作成するか、選択してください。

    %div.chat__main__inputform
