%div.chat__side-bar__group-list
  %ul.chat__side-bar__group-list__groups-ul
    %li.chat__side-bar__group-list__groups-ul__groups-li
      %p.chat__side-bar__group-list__groups-ul__groups-li--groupname groupname
      %p.chat__side-bar__group-list__groups-ul__groups-li--new-message new-message

    %li.chat__side-bar__group-list__groups-ul__groups-li
      %p.chat__side-bar__group-list__groups-ul__groups-li--groupname groupname
      %p.chat__side-bar__group-list__groups-ul__groups-li--new-message new-message
