= link_to group_messeges_path(contents.id), class: "chat__side-bar__group-list__groups-ul--links" do
  %li.chat__side-bar__group-list__groups-ul__groups-li
    %p.chat__side-bar__group-list__groups-ul__groups-li--groupname
      = contents.group_name
    %p.chat__side-bar__group-list__groups-ul__groups-li--new-message
      - if contents.group_name
        = contents.group_name
      - else
        まだメッセージはありません
