-# saサイドメニューの部分テンプレート massage#indexからも呼んでいる。
%div.chat__side-bar__info

  %div.chat__side-bar__info__user-name
    %h5.chat__side-bar__info__user-name--text
      = current_user.nickname

  %div.chat__side-bar__info__user-action
    = link_to new_group_path do
      %span.chat__side-bar__info__user-action--button-deco.fa.fa-pencil-square-o(aria-hidden="true")
    = link_to  edit_user_registration_path do
      %span.chat__side-bar__info__user-action--button-deco.fa.fa-cog(aria-hidden="true")

%div.chat__side-bar__group-list
  %div.chat__side-bar__group-list
    %ul.chat__side-bar__group-list__groups-ul
    - @current_user_groups.each do |current_user_group|
      = render partial: "shared/side_main_group-list", locals: {contents: current_user_group} #ユーザが所属しているグループのリスト
