.chat__main {
    float: left;
    height: 100%;
    position: relative;
    width: calc(100% - 300px);

    &__info {
        background-color: $color-n_white;
        height: 100px;
        border-bottom: 1px solid $color-border_gray;
        padding: 0 40px;

        &__group-info {
            padding-top: 20px;
            float: left;

            &--group-name {
                font-size: 20px;
                color: $color-font-large_black;
                margin-bottom: 15px;
            }

            &--menbers-rabel {
                font-size: 12px;
                color: $color-font_l_gray;
                margin-right: 10px;
            }

            &--menbers-name {
                font-size: 12px;
                color: $color-font_l_gray;
            }
        }

        &__edit-form {
            float: right;

            &--button {
                display: inline-block;
                margin: 28px 0;
                padding-right: 20px;
                padding-left: 20px;
                line-height: 40px;
                color: $color-bg_blue;
                font-size: 14px;
                border: 2px solid;
                text-decoration: none;
            }
        }
    }

    &__contents {
        background-color: $color-bg_l_gray;
        position: relative;
        height: calc(100% - 190px);
        overflow-y: scroll;
        padding: 0 40px;

        &__chat-ul {
            &__chat-li {
                padding: 46px 0 40px;

                &--userinfo {
                    &--username {
                        color: $color-font_brack;
                        font-size: 16px;
                        margin: 0 10px 10px 0;
                        font-weight: bold;
                    }

                    &--datetime {
                        color: $color-font_l_gray;
                        font-size: 12px;
                    }

                    &--use-message {
                        color: $color-font_brack;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__inputform {
        background-color: $color-bg_gray;
        padding: 20px 40px;
        height: 49px;

        &__text {
            float: left;
            width: calc(100% - 140px);
            height: 50px;
            padding-right: 15px;
            position: relative;

            &--text {
                width: 100%;
                height: 20px;
                padding: 15px 10px;
                line-height: 20px;
                border: none;
                resize: none;
                display: block;
            }

            &--image_label {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: 40px;
                height: 50px;
                text-align: center;
                cursor: pointer;

                &--input {
                    display: none;
                }

                &--input-deco {
                    position: relative;
                    top: 30%;
                    right: 0;
                }
            }
        }

        &__button-div {
            float: right;

            &--button {
                display: inline-block;
                width: 100px;
                margin-left: 20px;
                line-height: 50px;
                color: $color-n_white;
                background-color: $color-bg_blue;
                text-align: center;
                border: none;
                padding: 0;
            }
        }
    }
}
