.chat__side-bar {
    background-color: $color-bg_l_cobalt;
    float: left;
    height: 100%;
    min-width: 300px;

    &__info {
        background-color: $color-bg_cobalt;
        height: 60px;
        padding: 20px;

        &__user-name {
            float: left;

            &--text {
                color: $color-n_white;
                line-height: 60px;
                letter-spacing: 2px;
                font-size: 16px;
                font-weight: bolder;
            }
        }

        &__user-action {
            height: 60px;
            width: 60px;
            float: right;

            &--button-deco {
                display: inline-block;
                margin: 15px 0 15px 3px;
                line-height: 28px;
                color: $color-n_white;
                font-size: 20px;
            }
        }
    }

    &__group-list {
        overflow-y: scroll;
        padding: 0 20px;
        height: calc(100% - 100px);

        &__groups-ul {

            &--links{
              color: $color-n_white;
              text-decoration: none;

            }

            &__groups-li {

                padding: 20px 0 40px;

                &--groupname {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                &--new-message {
                    font-size: 11px;
                }
            }
        }
    }
}
