-# サイドメニューを担う部分テンプレート group#index,massage#indexから呼んでいる。
%div.chat__side-bar__info

  %div.chat__side-bar__info__user-name
    %h5.chat__side-bar__info__user-name--text
      = current_user.nickname

  %div.chat__side-bar__info__user-action
    = link_to new_group_path do
      %span.chat__side-bar__info__user-action--button-deco.fa.fa-pencil-square-o(aria-hidden = "true")
    = link_to  edit_user_registration_path do
      %span.chat__side-bar__info__user-action--button-deco.fa.fa-cog(aria-hidden = "true")

%div.chat__side-bar__group-list
  %ul.chat__side-bar__group-list__groups-ul
    = render partial: "shared/side/group", collection: @current_user_groups, as: "current_user_group"
